* {
  margin: 0;
}

body {
  background-color: #f5f6fa;
}

.app_header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
}

.app {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

.app_left {
  flex: 0.7;
}

.graph {
  padding-top: 20px;
}

.table {
  margin-top: 20px;
  overflow: scroll;
  height: 250px;
  color: #6a5d5d;
  overflow-x: hidden;
}
/* .table::-webkit-scrollbar {
  display: none;
} */
.table tr:nth-of-type(odd) {
  background-color: #f3f2f8;
}
.table tr {
  display: flex;
  justify-content: space-between;
}
.table td {
  padding: 0.5rem;
}

@media (max-width: 990px) {
  .app {
    flex-direction: column;
  }
}
