* {
	margin: 0;
}

body {
	background-color: #f5f6fa;
}

.top {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}

.mid {
	margin-top: 50px;
	margin-bottom: 50px;
}

.bottom {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
}

.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: darkslategray;
	color: #fff;
	padding: 6px;
}

.header a {
	text-decoration: none;
	color: #fff;
}

.header li {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
}

.header li a {
	text-decoration: none;
	color: #fff;
	margin-left: 10px;
}

.header a:hover {
	text-decoration: underline;
	color: lightblue;
}

.footer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: darkslategray;
	color: #fff;
	padding: 8px;
}

.footer li {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
}

.footer li a {
	text-decoration: none;
	color: #fff;
	margin-left: 10px;
}

.footer li a:hover {
	text-decoration: underline;
	color: lightblue;
}

.covid {
	margin: 8px;
	align-items: center;
	text-align: center;
}

.covid div {
	background-color: rgb(190, 229, 230);
	border: 5px;
	border-radius: 10px;
	padding: 5px;
	margin-bottom: 5px;
}

.covid .title {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	margin-bottom: 15px;
}

.covid .stats {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	text-align: center;
	margin-bottom: 15px;
}

.table {
	display: flex;
	flex-direction: column;
	scroll-behavior: smooth;
	overflow: scroll;
	overflow-x: hidden;
	max-height: 339px;
	max-width: 100%;
}

.table tr {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.population {
	padding: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.population h1 {
	margin-bottom: 10px;
}

.population h2 {
	margin-bottom: 20px;
}

.population table {
	background-color: rgb(190, 229, 230);
	padding: 10px;
	border: 5px;
	border-radius: 10px;
	max-height: 450px;
	width: 80%;
}
